In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import ipywidgets as widgets
from matplotlib.cm import viridis
from matplotlib.cm import Spectral
from matplotlib.cm import autumn
from matplotlib.colors import to_hex

import gmaps
import gmaps.geojson_geometries
import gmaps.datasets
import os
import json
import requests
import pprint as pp

import csv

# Import API key
from config import g_key

In [76]:
NYC_df = pd.read_csv('resources/FixedNYClisting.csv')
NYC_df['price'] = NYC_df['price'].map(lambda x: str(x)[1:])
NYC_df['price'] = NYC_df['price'].map(lambda x: x.replace(',', ''))
NYC_df['review_scores_rating'] = NYC_df['review_scores_rating']/10
#NYC_df['Value'] = NYC_df['price']/ (NYC_df['review_scores_rating']+NYC_df['review_scores_location'])
NYC_df['price'] = NYC_df['price'].astype('float')
NYC_df.head()

,Unnamed: 0,id,name,neighbourhood,latitude,longitude,price,number_of_reviews,review_scores_rating,review_scores_location,reviews_per_month
0,0,2595,Skylit Midtown Castle,Midtown,40.75362,-73.98377,225.0,46,9.5,10.0,0.39
1,2,3831,Cozy Entire Floor of Brownstone,Brooklyn,40.68514,-73.95976,89.0,274,9.0,10.0,4.64
2,3,5022,Entire Apt: Spacious Studio/Loft by central park,East Harlem,40.79851,-73.94399,80.0,9,9.3,9.0,0.10
3,4,5099,Large Cozy 1 BR Apartment In Midtown East,Midtown East,40.74767,-73.97500,200.0,75,8.9,9.0,0.60
4,5,5121,BlissArtsSpace!,Brooklyn,40.68688,-73.95596,60.0,49,9.0,9.0,0.39

In [71]:
# Grab ratings
neighborhood_ratings = NYC_df[['neighbourhood','review_scores_location']]
neighborhood_prices = NYC_df[['neighbourhood','price']]
neighborhood_bookings = NYC_df[['neighbourhood','reviews_per_month']]
neighborhood_bookings

           neighbourhood  reviews_per_month
0                Midtown               0.39
1               Brooklyn               4.64
2            East Harlem               0.10
3           Midtown East               0.60
4               Brooklyn               0.39
5              Manhattan               3.48
6        Upper West Side               0.98
7              Manhattan               0.74
8        Lower East Side               1.33
9              Manhattan               0.42
10             Manhattan               1.50
11            Park Slope               1.33
12             Manhattan               0.22
13          Williamsburg               1.24
14              Brooklyn               1.72
15             Manhattan               2.17
16              Brooklyn               4.59
17              Brooklyn               0.07
18            Park Slope               1.09
19              Brooklyn               0.63
20              Brooklyn               0.76
21              Brooklyn               1.35
22             Manhattan               0.48
23          East Village               0.24
24             Manhattan               2.04
25                Harlem               1.46
26              Brooklyn               1.67
27                Harlem               2.35
28              Brooklyn               0.65
29              Brooklyn               1.41
...                  ...                ...
37649            Jamaica               2.00
37650           Brooklyn               1.00
37651             Queens               1.00
37652    Upper East Side               2.00
37653      Alphabet City               1.00
37654    Jackson Heights               1.00
37655          Manhattan               1.00
37656            Midtown               2.00
37657        Boerum Hill               1.00
37658         Bath Beach               1.00
37659           Brooklyn               1.00
37660           Brooklyn               1.00
37661           Flushing               2.00
37662            Norwood               1.00
37663  Greenwich Village               2.00
37664           Brooklyn               1.00
37665           Brooklyn               1.00
37666             Queens               1.00
37667          Manhattan               1.00
37668            Midtown               1.00
37669       Coney Island               1.00
37670       Williamsburg               1.00
37671          Manhattan               1.00
37672             Queens               1.00
37673             Queens               1.00
37674     Sheepshead Bay               1.00
37675           Brooklyn               1.00
37676           Brooklyn               1.00
37677           Brooklyn               2.00
37678    Lower East Side               1.00

[37679 rows x 2 columns]

In [69]:
neighborhood_ratings.dropna()
neighborhood_prices.dropna()
NYC_loc_scores_df = neighborhood_ratings.groupby('neighbourhood').mean()
NYC_loc_scores_df.head()
NYC_price_df = neighborhood_prices.groupby('neighbourhood').mean()
NYC_price_df.head()

                    price
neighbourhood
Allerton        67.454545
Alphabet City  156.677130
Annadale       121.000000
Arden Heights   70.000000
Arrochar        99.000000

In [8]:
NYC_loc_scores_df.to_csv(r'resources/nyc_loc_scores.csv')

In [9]:
csv_data = pd.read_csv('resources/nyc_loc_scores.csv')
csv_data.head()

   neighbourhood  review_scores_location
0       Allerton                9.636364
1  Alphabet City                9.695067
2       Annadale               10.000000
3  Arden Heights               10.000000
4       Arrochar                8.000000

In [43]:
# Authenticate gmaps
gmaps.configure(api_key=g_key)

nyc_coordinates = [(40.7128, 74.0060)]

# Load in NYC GeoJSON
with open('resources/custom-pedia-cities-nyc-Mar2018.json') as f:
    neighborhoods_geojson = json.load(f)

# Turn Neighborhoods Rating DataFrame into Dictionary
avg_location_dict = NYC_loc_scores_df.to_dict()
neighborhood2gini = avg_location_dict['review_scores_location']
min_gini = min(neighborhood2gini.values())
max_gini = max(neighborhood2gini.values())
gini_range = max_gini - min_gini

def calculate_color(gini):
    """
    Convert the GINI coefficient to a color
    """
    # make gini a number between 0 and 1
    normalized_gini = (gini - min_gini) / gini_range

    # invert gini so that high inequality gives dark color
    inverse_gini = 1.0 - normalized_gini

    # transform the gini coefficient to a matplotlib color
    mpl_color = viridis(inverse_gini)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

# Calculate a color for each GeoJSON feature
colors = []
unique_colors = {}
legend_gini = [10.0, 9.5, 9.0, 8.5, 8.0, 7.5, 0]
legend_entries = []
#add black for null values
legend_entries.append('<span style="color: #000000; font-size: 2em; vertical-align: bottom;">&#9679;</span> 0.0')
# Some CSS hackery to draw a circle of that color next to the year
legend_template = '<span style="color: {color}; font-size: 2em; vertical-align: bottom;">&#9679;</span> {value}'

for feature in neighborhoods_geojson['features']:
    neighborhood_name = feature['properties']['neighborhood']
    try:
        gini = neighborhood2gini[neighborhood_name]
        color = calculate_color(gini)
        if gini in legend_gini:
            if color not in unique_colors.keys():
                unique_colors[color] = gini
                legend_entries.append(legend_template.format(color=color, value=gini))
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.9)
    colors.append(color)


# fix null value            
unique_colors[(0, 0, 0, 0.9)] = 0


def draw_map_with_legend():
    figure = gmaps.figure(center=(40.7, -74.0), zoom_level = 9.6)
    
    gini_layer = gmaps.geojson_layer(
    neighborhoods_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.9)
    figure.add_layer(gini_layer)
    
    legend = widgets.HBox(
        [widgets.HTML(legend_entry) for legend_entry in legend_entries],
        layout=widgets.Layout(width='100%', justify_content='space-between')
    )
    return widgets.VBox([figure, legend])

draw_map_with_legend()

VBox(children=(Figure(layout=FigureLayout(height='420px')), HBox(children=(HTML(value='<span style="color: #00…

{'price': {'Allerton': 67.45454545454545,
  'Alphabet City': 156.67713004484304,
  'Annadale': 121.0,
  'Arden Heights': 70.0,
  'Arrochar': 99.0,
  'Astoria': 117.38077634011091,
  'Bath Beach': 105.0,
  'Battery Park City': 147.7,
  'Bay Ridge': 111.63917525773196,
  'Baychester': 81.03703703703704,
  'Bayside': 84.8,
  'Bedford Park': 84.36363636363636,
  'Bedford-Stuyvesant': 108.3103448275862,
  'Belmont': 52.0,
  'Bensonhurst': 73.4,
  'Bergen Beach': 85.0,
  'Boerum Hill': 172.289156626506,
  'Borough Park': 63.6875,
  'Brighton Beach': 93.95652173913044,
  'Bronxdale': 54.714285714285715,
  'Brooklyn': 122.61401439188393,
  'Brooklyn Heights': 231.41176470588235,
  'Brooklyn Navy Yard': 125.34615384615384,
  'Brownsville': 66.0,
  'Bushwick': 84.91592356687899,
  'Canarsie': 100.2,
  'Carroll Gardens': 168.9857142857143,
  'Castle Hill ': 86.75,
  'Castleton Corners': 299.0,
  'Chelsea': 207.61964735516372,
  'Chinatown': 171.76377952755905,
  'City Island': 97.23076923076923,
  'Civic Center': 130.5,
  'Claremont': 48.6,
  'Clinton Hill': 164.2517006802721,
  'Cobble Hill': 243.1904761904762,
  'College Point': 91.16666666666667,
  'Columbia Street Waterfront': 121.375,
  'Concord': 33.0,
  'Concourse': 66.28,
  'Concourse Village': 102.25,
  'Coney Island': 101.5,
  'Corona': 65.82051282051282,
  'Country Club': 89.0,
  'Crotona': 83.0,
  'Crown Heights': 120.62683823529412,
  'DUMBO': 175.4375,
  'Ditmars / Steinway': 90.0754716981132,
  'Dongan Hills': 78.2,
  'Downtown Brooklyn': 112.90322580645162,
  'Dyker Heights': 119.75,
  'East Elmhurst': 83.22857142857143,
  'East Flatbush': 96.52631578947368,
  'East Harlem': 122.12861736334405,
  'East New York': 87.24050632911393,
  'East Village': 182.26739926739927,
  'Eastchester': 133.5,
  'Edenwald': 89.0,
  'Elm Park': 48.333333333333336,
  'Elmhurst': 81.65753424657534,
  'Eltingville': 56.0,
  'Financial District': 246.2756183745583,
  'Flatbush': 90.82579185520362,
  'Flatiron District': 336.6951219512195,
  'Flatlands': 97.38461538461539,
  'Flushing': 82.15294117647059,
  'Fordham': 52.142857142857146,
  'Forest Hills': 88.52631578947368,
  'Fort Greene': 155.85393258426967,
  'Fort Hamilton': 89.0,
  'Fresh Meadows': 86.1,
  'Glendale': 70.625,
  'Gowanus': 168.87058823529412,
  'Gramercy Park': 210.57894736842104,
  'Graniteville': 45.5,
  'Grant City': 69.25,
  'Grasmere': 47.36363636363637,
  'Gravesend': 83.875,
  'Great Kills': 97.85714285714286,
  'Greenpoint': 131.12275449101796,
  'Greenwich Village': 186.35238095238094,
  'Greenwood Heights': 130.23809523809524,
  'Grymes Hill': 87.0,
  'Hamilton Heights': 125.22362869198312,
  'Harlem': 128.73268801191364,
  "Hell's Kitchen": 188.4728132387707,
  'Highbridge': 78.45,
  'Hillcrest': 165.0,
  'Howard Beach': 161.25,
  'Hudson Square': 179.45454545454547,
  'Huguenot': 185.0,
  'Hunts Point': 50.111111111111114,
  'Inwood': 84.71666666666667,
  'Jackson Heights': 84.95192307692308,
  'Jamaica': 92.00348432055749,
  'Kensington': 86.6,
  'Kew Garden Hills': 72.3157894736842,
  'Kingsbridge': 57.142857142857146,
  'Kingsbridge Heights': 69.8,
  'Kips Bay': 188.59649122807016,
  'Lefferts Garden': 112.43846153846154,
  'Lighthouse HIll': 115.0,
  'Lindenwood': 138.5,
  'Little Italy': 190.5,
  'Long Island City': 124.725,
  'Longwood': 70.0,
  'Lower East Side': 167.18510638297872,
  'Manhattan': 181.33947368421053,
  'Manhattan Beach': 101.81818181818181,
  'Marble Hill': 103.66666666666667,
  'Mariners Harbor': 109.66666666666667,
  'Maspeth': 74.675,
  'Meatpacking District': 172.66666666666666,
  'Meiers Corners': 174.0,
  'Melrose': 81.5,
  'Middle Village': 87.5,
  'Midland Beach': 90.0,
  'Midtown': 215.00531914893617,
  'Midtown East': 234.13229571984436,
  'Midwood': 78.5952380952381,
  'Mill Basin': 85.0,
  'Morningside Heights': 125.3013698630137,
  'Morris Heights': 60.0,
  'Morris Park': 61.0,
  'Morrisania': 83.8,
  'Mott Haven': 84.55882352941177,
  'Murray Hill': 213.21428571428572,
  'New Brighton': 49.5,
  'New Dorp Beach': 40.5,
  'New Springville': 58.0,
  'Noho': 316.2142857142857,
  'Nolita': 191.95833333333334,
  'Norwood': 68.55555555555556,
  'Oakwood': 82.5,
  'Ozone Park': 84.7,
  'Park Slope': 158.3698113207547,
  'Park Versailles': 57.714285714285715,
  'Parkchester': 71.06666666666666,
  'Pelham Bay': 52.857142857142854,
  'Port Morris': 84.10526315789474,
  'Port Richmond': 86.85714285714286,
  'Prospect Heights': 162.46153846153845,
  'Queens': 91.50265721877768,
  'Randall Manor': 55.0,
  'Red Hook': 149.66666666666666,
  'Rego Park': 92.25,
  'Richmond Hill': 88.7843137254902,
  'Ridgewood': 78.3529411764706,
  'Riverdale': 114.77777777777777,
  'Roosevelt Island': 118.59016393442623,
  'Rosebank': 110.0,
  'Sea Gate': 215.0,
  'Sheepshead Bay': 90.37704918032787,
  'Silver Lake': 80.0,
  'Soho': 253.3734939759036,
  'Soundview': 65.27272727272727,
  'South Beach': 193.125,
  'South Ozone Park': 94.375,
  'South Street Seaport': 105.0,
  'St. George': 96.1304347826087,
  'Stapleton': 83.375,
  'Staten Island': 89.66666666666667,
  'Sunnyside': 85.39285714285714,
  'Sunset Park': 72.88073394495413,
  'The Bronx': 82.89224137931035,
  'The Rockaways': 138.41052631578947,
  'Throgs Neck': 107.72727272727273,
  'Times Square/Theatre District': 201.8421052631579,
  'Todt Hill': 49.0,
  'Tompkinsville': 71.42857142857143,
  'Tottenville': 148.0,
  'Tremont': 81.77777777777777,
  'Tribeca': 328.86842105263156,
  'Union Square': 191.5,
  'University Heights': 43.166666666666664,
  'Upper East Side': 160.63577235772357,
  'Upper West Side': 183.78503184713375,
  'Utopia': 69.66666666666667,
  'Van Nest': 26.666666666666668,
  'Wakefield': 109.78571428571429,
  'Washington Heights': 90.87724550898204,
  'West Brighton': 71.21428571428571,
  'West Farms': 79.0,
  'West Village': 236.61654135338347,
  'Westchester Village': 135.44444444444446,
  'Westerleigh': 40.0,
  'Whitestone': 233.4,
  'Williamsbridge': 67.7,
  'Williamsburg': 140.81565836298932,
  'Windsor Terrace': 117.30952380952381,
  'Woodhaven': 67.06521739130434,
  'Woodlawn': 74.0,
  'Woodside': 92.58181818181818}}

In [58]:
# Authenticate gmaps
gmaps.configure(api_key=g_key)

nyc_coordinates = [(40.7128, 74.0060)]

# Load in NYC GeoJSON
with open('resources/custom-pedia-cities-nyc-Mar2018.json') as f:
    neighborhoods_geojson = json.load(f)

# Turn Neighborhoods Rating DataFrame into Dictionary
price_dict = NYC_price_df.to_dict()
neighborhood2gini = price_dict['price']
min_gini = min(neighborhood2gini.values())
max_gini = max(neighborhood2gini.values())
gini_range = max_gini - min_gini

def calculate_color(gini):
    """
    Convert the GINI coefficient to a color
    """
    # make gini a number between 0 and 1
    normalized_gini = (gini - min_gini) / gini_range

    # invert gini so that high inequality gives dark color
    inverse_gini = 1.0 - normalized_gini

    # transform the gini coefficient to a matplotlib color
    mpl_color = autumn(inverse_gini)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

# Calculate a color for each GeoJSON feature
colors = []
unique_colors = {}

legend_gini = [10.0, 9.5, 9.0, 8.5, 8.0, 7.5, 0]
legend_entries = []
#add black for null values
legend_entries.append('<span style="color: #ffffff; font-size: 2em; vertical-align: bottom;">&#9679;</span> 0.0')
# Some CSS hackery to draw a circle of that color next to the year
legend_template = '<span style="color: {color}; font-size: 2em; vertical-align: bottom;">&#9679;</span> {value}'

for feature in neighborhoods_geojson['features']:
    neighborhood_name = feature['properties']['neighborhood']
    try:
        gini = neighborhood2gini[neighborhood_name]
        color = calculate_color(gini)
        if gini in legend_gini:
            if color not in unique_colors.keys():
                unique_colors[color] = gini
                legend_entries.append(legend_template.format(color=color, value=gini))
    except KeyError:
        # no GINI for that country: return default color
        color = (255, 255, 255, 0.5)
    colors.append(color)


# fix null value            
unique_colors[(255, 255, 255, 0.9)] = 0


def draw_map_with_legend():
    figure = gmaps.figure(center=(40.7, -74.0), zoom_level = 9.6)
    
    gini_layer = gmaps.geojson_layer(
    neighborhoods_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.9)
    figure.add_layer(gini_layer)
    
    legend = widgets.HBox(
        [widgets.HTML(legend_entry) for legend_entry in legend_entries],
        layout=widgets.Layout(width='100%', justify_content='space-between')
    )
    return widgets.VBox([figure, legend])

draw_map_with_legend()

VBox(children=(Figure(layout=FigureLayout(height='420px')), HBox(children=(HTML(value='<span style="color: #ff…

In [67]:
neighborhood_price_dict = price_dict['price']

neighborhood_price_dict

{'Allerton': 67.45454545454545,
 'Alphabet City': 156.67713004484304,
 'Annadale': 121.0,
 'Arden Heights': 70.0,
 'Arrochar': 99.0,
 'Astoria': 117.38077634011091,
 'Bath Beach': 105.0,
 'Battery Park City': 147.7,
 'Bay Ridge': 111.63917525773196,
 'Baychester': 81.03703703703704,
 'Bayside': 84.8,
 'Bedford Park': 84.36363636363636,
 'Bedford-Stuyvesant': 108.3103448275862,
 'Belmont': 52.0,
 'Bensonhurst': 73.4,
 'Bergen Beach': 85.0,
 'Boerum Hill': 172.289156626506,
 'Borough Park': 63.6875,
 'Brighton Beach': 93.95652173913044,
 'Bronxdale': 54.714285714285715,
 'Brooklyn': 122.61401439188393,
 'Brooklyn Heights': 231.41176470588235,
 'Brooklyn Navy Yard': 125.34615384615384,
 'Brownsville': 66.0,
 'Bushwick': 84.91592356687899,
 'Canarsie': 100.2,
 'Carroll Gardens': 168.9857142857143,
 'Castle Hill ': 86.75,
 'Castleton Corners': 299.0,
 'Chelsea': 207.61964735516372,
 'Chinatown': 171.76377952755905,
 'City Island': 97.23076923076923,
 'Civic Center': 130.5,
 'Claremont': 48.6,
 'Clinton Hill': 164.2517006802721,
 'Cobble Hill': 243.1904761904762,
 'College Point': 91.16666666666667,
 'Columbia Street Waterfront': 121.375,
 'Concord': 33.0,
 'Concourse': 66.28,
 'Concourse Village': 102.25,
 'Coney Island': 101.5,
 'Corona': 65.82051282051282,
 'Country Club': 89.0,
 'Crotona': 83.0,
 'Crown Heights': 120.62683823529412,
 'DUMBO': 175.4375,
 'Ditmars / Steinway': 90.0754716981132,
 'Dongan Hills': 78.2,
 'Downtown Brooklyn': 112.90322580645162,
 'Dyker Heights': 119.75,
 'East Elmhurst': 83.22857142857143,
 'East Flatbush': 96.52631578947368,
 'East Harlem': 122.12861736334405,
 'East New York': 87.24050632911393,
 'East Village': 182.26739926739927,
 'Eastchester': 133.5,
 'Edenwald': 89.0,
 'Elm Park': 48.333333333333336,
 'Elmhurst': 81.65753424657534,
 'Eltingville': 56.0,
 'Financial District': 246.2756183745583,
 'Flatbush': 90.82579185520362,
 'Flatiron District': 336.6951219512195,
 'Flatlands': 97.38461538461539,
 'Flushing': 82.15294117647059,
 'Fordham': 52.142857142857146,
 'Forest Hills': 88.52631578947368,
 'Fort Greene': 155.85393258426967,
 'Fort Hamilton': 89.0,
 'Fresh Meadows': 86.1,
 'Glendale': 70.625,
 'Gowanus': 168.87058823529412,
 'Gramercy Park': 210.57894736842104,
 'Graniteville': 45.5,
 'Grant City': 69.25,
 'Grasmere': 47.36363636363637,
 'Gravesend': 83.875,
 'Great Kills': 97.85714285714286,
 'Greenpoint': 131.12275449101796,
 'Greenwich Village': 186.35238095238094,
 'Greenwood Heights': 130.23809523809524,
 'Grymes Hill': 87.0,
 'Hamilton Heights': 125.22362869198312,
 'Harlem': 128.73268801191364,
 "Hell's Kitchen": 188.4728132387707,
 'Highbridge': 78.45,
 'Hillcrest': 165.0,
 'Howard Beach': 161.25,
 'Hudson Square': 179.45454545454547,
 'Huguenot': 185.0,
 'Hunts Point': 50.111111111111114,
 'Inwood': 84.71666666666667,
 'Jackson Heights': 84.95192307692308,
 'Jamaica': 92.00348432055749,
 'Kensington': 86.6,
 'Kew Garden Hills': 72.3157894736842,
 'Kingsbridge': 57.142857142857146,
 'Kingsbridge Heights': 69.8,
 'Kips Bay': 188.59649122807016,
 'Lefferts Garden': 112.43846153846154,
 'Lighthouse HIll': 115.0,
 'Lindenwood': 138.5,
 'Little Italy': 190.5,
 'Long Island City': 124.725,
 'Longwood': 70.0,
 'Lower East Side': 167.18510638297872,
 'Manhattan': 181.33947368421053,
 'Manhattan Beach': 101.81818181818181,
 'Marble Hill': 103.66666666666667,
 'Mariners Harbor': 109.66666666666667,
 'Maspeth': 74.675,
 'Meatpacking District': 172.66666666666666,
 'Meiers Corners': 174.0,
 'Melrose': 81.5,
 'Middle Village': 87.5,
 'Midland Beach': 90.0,
 'Midtown': 215.00531914893617,
 'Midtown East': 234.13229571984436,
 'Midwood': 78.5952380952381,
 'Mill Basin': 85.0,
 'Morningside Heights': 125.3013698630137,
 'Morris Heights': 60.0,
 'Morris Park': 61.0,
 'Morrisania': 83.8,
 'Mott Haven': 84.55882352941177,
 'Murray Hill': 213.21428571428572,
 'New Brighton': 49.5,
 'New Dorp Beach': 40.5,
 'New Springville': 58.0,
 'Noho': 316.2142857142857,
 'Nolita': 191.95833333333334,
 'Norwood': 68.55555555555556,
 'Oakwood': 82.5,
 'Ozone Park': 84.7,
 'Park Slope': 158.3698113207547,
 'Park Versailles': 57.714285714285715,
 'Parkchester': 71.06666666666666,
 'Pelham Bay': 52.857142857142854,
 'Port Morris': 84.10526315789474,
 'Port Richmond': 86.85714285714286,
 'Prospect Heights': 162.46153846153845,
 'Queens': 91.50265721877768,
 'Randall Manor': 55.0,
 'Red Hook': 149.66666666666666,
 'Rego Park': 92.25,
 'Richmond Hill': 88.7843137254902,
 'Ridgewood': 78.3529411764706,
 'Riverdale': 114.77777777777777,
 'Roosevelt Island': 118.59016393442623,
 'Rosebank': 110.0,
 'Sea Gate': 215.0,
 'Sheepshead Bay': 90.37704918032787,
 'Silver Lake': 80.0,
 'Soho': 253.3734939759036,
 'Soundview': 65.27272727272727,
 'South Beach': 193.125,
 'South Ozone Park': 94.375,
 'South Street Seaport': 105.0,
 'St. George': 96.1304347826087,
 'Stapleton': 83.375,
 'Staten Island': 89.66666666666667,
 'Sunnyside': 85.39285714285714,
 'Sunset Park': 72.88073394495413,
 'The Bronx': 82.89224137931035,
 'The Rockaways': 138.41052631578947,
 'Throgs Neck': 107.72727272727273,
 'Times Square/Theatre District': 201.8421052631579,
 'Todt Hill': 49.0,
 'Tompkinsville': 71.42857142857143,
 'Tottenville': 148.0,
 'Tremont': 81.77777777777777,
 'Tribeca': 328.86842105263156,
 'Union Square': 191.5,
 'University Heights': 43.166666666666664,
 'Upper East Side': 160.63577235772357,
 'Upper West Side': 183.78503184713375,
 'Utopia': 69.66666666666667,
 'Van Nest': 26.666666666666668,
 'Wakefield': 109.78571428571429,
 'Washington Heights': 90.87724550898204,
 'West Brighton': 71.21428571428571,
 'West Farms': 79.0,
 'West Village': 236.61654135338347,
 'Westchester Village': 135.44444444444446,
 'Westerleigh': 40.0,
 'Whitestone': 233.4,
 'Williamsbridge': 67.7,
 'Williamsburg': 140.81565836298932,
 'Windsor Terrace': 117.30952380952381,
 'Woodhaven': 67.06521739130434,
 'Woodlawn': 74.0,
 'Woodside': 92.58181818181818}

In [68]:
sorted(neighborhood_price_dict.items(), key=lambda x: x[1], reverse=True)

[('Flatiron District', 336.6951219512195),
 ('Tribeca', 328.86842105263156),
 ('Noho', 316.2142857142857),
 ('Castleton Corners', 299.0),
 ('Soho', 253.3734939759036),
 ('Financial District', 246.2756183745583),
 ('Cobble Hill', 243.1904761904762),
 ('West Village', 236.61654135338347),
 ('Midtown East', 234.13229571984436),
 ('Whitestone', 233.4),
 ('Brooklyn Heights', 231.41176470588235),
 ('Midtown', 215.00531914893617),
 ('Sea Gate', 215.0),
 ('Murray Hill', 213.21428571428572),
 ('Gramercy Park', 210.57894736842104),
 ('Chelsea', 207.61964735516372),
 ('Times Square/Theatre District', 201.8421052631579),
 ('South Beach', 193.125),
 ('Nolita', 191.95833333333334),
 ('Union Square', 191.5),
 ('Little Italy', 190.5),
 ('Kips Bay', 188.59649122807016),
 ("Hell's Kitchen", 188.4728132387707),
 ('Greenwich Village', 186.35238095238094),
 ('Huguenot', 185.0),
 ('Upper West Side', 183.78503184713375),
 ('East Village', 182.26739926739927),
 ('Manhattan', 181.33947368421053),
 ('Hudson Square', 179.45454545454547),
 ('DUMBO', 175.4375),
 ('Meiers Corners', 174.0),
 ('Meatpacking District', 172.66666666666666),
 ('Boerum Hill', 172.289156626506),
 ('Chinatown', 171.76377952755905),
 ('Carroll Gardens', 168.9857142857143),
 ('Gowanus', 168.87058823529412),
 ('Lower East Side', 167.18510638297872),
 ('Hillcrest', 165.0),
 ('Clinton Hill', 164.2517006802721),
 ('Prospect Heights', 162.46153846153845),
 ('Howard Beach', 161.25),
 ('Upper East Side', 160.63577235772357),
 ('Park Slope', 158.3698113207547),
 ('Alphabet City', 156.67713004484304),
 ('Fort Greene', 155.85393258426967),
 ('Red Hook', 149.66666666666666),
 ('Tottenville', 148.0),
 ('Battery Park City', 147.7),
 ('Williamsburg', 140.81565836298932),
 ('Lindenwood', 138.5),
 ('The Rockaways', 138.41052631578947),
 ('Westchester Village', 135.44444444444446),
 ('Eastchester', 133.5),
 ('Greenpoint', 131.12275449101796),
 ('Civic Center', 130.5),
 ('Greenwood Heights', 130.23809523809524),
 ('Harlem', 128.73268801191364),
 ('Brooklyn Navy Yard', 125.34615384615384),
 ('Morningside Heights', 125.3013698630137),
 ('Hamilton Heights', 125.22362869198312),
 ('Long Island City', 124.725),
 ('Brooklyn', 122.61401439188393),
 ('East Harlem', 122.12861736334405),
 ('Columbia Street Waterfront', 121.375),
 ('Annadale', 121.0),
 ('Crown Heights', 120.62683823529412),
 ('Dyker Heights', 119.75),
 ('Roosevelt Island', 118.59016393442623),
 ('Astoria', 117.38077634011091),
 ('Windsor Terrace', 117.30952380952381),
 ('Lighthouse HIll', 115.0),
 ('Riverdale', 114.77777777777777),
 ('Downtown Brooklyn', 112.90322580645162),
 ('Lefferts Garden', 112.43846153846154),
 ('Bay Ridge', 111.63917525773196),
 ('Rosebank', 110.0),
 ('Wakefield', 109.78571428571429),
 ('Mariners Harbor', 109.66666666666667),
 ('Bedford-Stuyvesant', 108.3103448275862),
 ('Throgs Neck', 107.72727272727273),
 ('Bath Beach', 105.0),
 ('South Street Seaport', 105.0),
 ('Marble Hill', 103.66666666666667),
 ('Concourse Village', 102.25),
 ('Manhattan Beach', 101.81818181818181),
 ('Coney Island', 101.5),
 ('Canarsie', 100.2),
 ('Arrochar', 99.0),
 ('Great Kills', 97.85714285714286),
 ('Flatlands', 97.38461538461539),
 ('City Island', 97.23076923076923),
 ('East Flatbush', 96.52631578947368),
 ('St. George', 96.1304347826087),
 ('South Ozone Park', 94.375),
 ('Brighton Beach', 93.95652173913044),
 ('Woodside', 92.58181818181818),
 ('Rego Park', 92.25),
 ('Jamaica', 92.00348432055749),
 ('Queens', 91.50265721877768),
 ('College Point', 91.16666666666667),
 ('Washington Heights', 90.87724550898204),
 ('Flatbush', 90.82579185520362),
 ('Sheepshead Bay', 90.37704918032787),
 ('Ditmars / Steinway', 90.0754716981132),
 ('Midland Beach', 90.0),
 ('Staten Island', 89.66666666666667),
 ('Country Club', 89.0),
 ('Edenwald', 89.0),
 ('Fort Hamilton', 89.0),
 ('Richmond Hill', 88.7843137254902),
 ('Forest Hills', 88.52631578947368),
 ('Middle Village', 87.5),
 ('East New York', 87.24050632911393),
 ('Grymes Hill', 87.0),
 ('Port Richmond', 86.85714285714286),
 ('Castle Hill ', 86.75),
 ('Kensington', 86.6),
 ('Fresh Meadows', 86.1),
 ('Sunnyside', 85.39285714285714),
 ('Bergen Beach', 85.0),
 ('Mill Basin', 85.0),
 ('Jackson Heights', 84.95192307692308),
 ('Bushwick', 84.91592356687899),
 ('Bayside', 84.8),
 ('Inwood', 84.71666666666667),
 ('Ozone Park', 84.7),
 ('Mott Haven', 84.55882352941177),
 ('Bedford Park', 84.36363636363636),
 ('Port Morris', 84.10526315789474),
 ('Gravesend', 83.875),
 ('Morrisania', 83.8),
 ('Stapleton', 83.375),
 ('East Elmhurst', 83.22857142857143),
 ('Crotona', 83.0),
 ('The Bronx', 82.89224137931035),
 ('Oakwood', 82.5),
 ('Flushing', 82.15294117647059),
 ('Tremont', 81.77777777777777),
 ('Elmhurst', 81.65753424657534),
 ('Melrose', 81.5),
 ('Baychester', 81.03703703703704),
 ('Silver Lake', 80.0),
 ('West Farms', 79.0),
 ('Midwood', 78.5952380952381),
 ('Highbridge', 78.45),
 ('Ridgewood', 78.3529411764706),
 ('Dongan Hills', 78.2),
 ('Maspeth', 74.675),
 ('Woodlawn', 74.0),
 ('Bensonhurst', 73.4),
 ('Sunset Park', 72.88073394495413),
 ('Kew Garden Hills', 72.3157894736842),
 ('Tompkinsville', 71.42857142857143),
 ('West Brighton', 71.21428571428571),
 ('Parkchester', 71.06666666666666),
 ('Glendale', 70.625),
 ('Arden Heights', 70.0),
 ('Longwood', 70.0),
 ('Kingsbridge Heights', 69.8),
 ('Utopia', 69.66666666666667),
 ('Grant City', 69.25),
 ('Norwood', 68.55555555555556),
 ('Williamsbridge', 67.7),
 ('Allerton', 67.45454545454545),
 ('Woodhaven', 67.06521739130434),
 ('Concourse', 66.28),
 ('Brownsville', 66.0),
 ('Corona', 65.82051282051282),
 ('Soundview', 65.27272727272727),
 ('Borough Park', 63.6875),
 ('Morris Park', 61.0),
 ('Morris Heights', 60.0),
 ('New Springville', 58.0),
 ('Park Versailles', 57.714285714285715),
 ('Kingsbridge', 57.142857142857146),
 ('Eltingville', 56.0),
 ('Randall Manor', 55.0),
 ('Bronxdale', 54.714285714285715),
 ('Pelham Bay', 52.857142857142854),
 ('Fordham', 52.142857142857146),
 ('Belmont', 52.0),
 ('Hunts Point', 50.111111111111114),
 ('New Brighton', 49.5),
 ('Todt Hill', 49.0),
 ('Claremont', 48.6),
 ('Elm Park', 48.333333333333336),
 ('Grasmere', 47.36363636363637),
 ('Graniteville', 45.5),
 ('University Heights', 43.166666666666664),
 ('New Dorp Beach', 40.5),
 ('Westerleigh', 40.0),
 ('Concord', 33.0),
 ('Van Nest', 26.666666666666668)]

In [87]:
NYC_df['Value for Renter'] = (NYC_df['review_scores_rating']+NYC_df['review_scores_location'])/NYC_df['price']
NYC_df.head()

,Unnamed: 0,id,name,neighbourhood,latitude,longitude,price,number_of_reviews,review_scores_rating,review_scores_location,reviews_per_month,Value for Seller,Value for Renter
0,0,2595,Skylit Midtown Castle,Midtown,40.75362,-73.98377,225.0,46,9.5,10.0,0.39,11.538462,0.086667
1,2,3831,Cozy Entire Floor of Brownstone,Brooklyn,40.68514,-73.95976,89.0,274,9.0,10.0,4.64,4.684211,0.213483
2,3,5022,Entire Apt: Spacious Studio/Loft by central park,East Harlem,40.79851,-73.94399,80.0,9,9.3,9.0,0.10,4.371585,0.228750
3,4,5099,Large Cozy 1 BR Apartment In Midtown East,Midtown East,40.74767,-73.97500,200.0,75,8.9,9.0,0.60,11.173184,0.089500
4,5,5121,BlissArtsSpace!,Brooklyn,40.68688,-73.95596,60.0,49,9.0,9.0,0.39,3.333333,0.300000

In [88]:
NYC_df.sort_values(by='Value for Renter', ascending=False)

,Unnamed: 0,id,name,neighbourhood,latitude,longitude,price,number_of_reviews,review_scores_rating,review_scores_location,reviews_per_month,Value for Seller,Value for Renter
20653,25333,20639792,Contemporary bedroom in brownstone with nice view,Bedford-Stuyvesant,40.68279,-73.91170,0.0,101,9.2,9.0,4.46,0.000000,inf
20638,25316,20624541,Modern apartment in the heart of Williamsburg,Williamsburg,40.70838,-73.94645,0.0,3,8.7,9.0,0.14,0.000000,inf
20516,25172,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",Bushwick,40.69467,-73.92433,0.0,16,9.4,10.0,0.68,0.000000,inf
20652,25332,20639628,Spacious comfortable master bedroom with nice ...,Brooklyn,40.68173,-73.91342,0.0,98,9.3,9.0,4.32,0.000000,inf
18522,22745,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",Brooklyn,40.69023,-73.95428,0.0,1,8.0,10.0,0.05,0.000000,inf
21514,26359,21291569,Coliving in Brooklyn! Modern design / Shared room,Brooklyn,40.69211,-73.90670,0.0,2,7.0,8.0,0.10,0.000000,inf
20654,25334,20639914,Cozy yet spacious private brownstone bedroom,Bedford-Stuyvesant,40.68258,-73.91284,0.0,102,9.1,9.0,4.48,0.000000,inf
20618,25290,20608117,"Sunny, Quiet Room in Greenpoint",Brooklyn,40.72462,-73.94072,0.0,12,9.8,10.0,0.51,0.000000,inf
21532,26382,21304320,Best Coliving space ever! Shared room.,Bushwick,40.69166,-73.90928,0.0,5,9.6,10.0,0.25,0.000000,inf
28515,34875,28270998,"Charming, bright and brand new Bed-Stuy home",Bedford-Stuyvesant,40.69508,-73.95164,10.0,7,10.0,10.0,0.65,0.500000,2.000000
36538,45626,35642891,Beautiful room in Bushwick,Brooklyn,40.69640,-73.91898,10.0,2,10.0,10.0,1.18,0.500000,2.000000
18602,22840,18835820,"Quiet, Cozy UES Studio Near the Subway",Manhattan,40.76844,-73.95341,10.0,10,10.0,10.0,0.37,0.500000,2.000000
26249,32167,25839759,Gigantic Sunny Room in Park Slope-Private Back...,Greenwood Heights,40.66242,-73.99464,10.0,14,10.0,10.0,0.99,0.500000,2.000000
19285,23672,19415314,"Girls only, cozy room one block from Times Square",Midtown,40.75812,-73.98935,10.0,2,10.0,10.0,0.08,0.500000,2.000000
17808,21887,17979764,Jen Apt,Manhattan,40.72237,-73.99817,10.0,2,10.0,10.0,0.07,0.500000,2.000000
22420,27477,21869057,Spacious 2-bedroom Apt in Heart of Greenpoint,Brooklyn,40.72421,-73.95364,10.0,95,9.9,10.0,4.60,0.502513,1.990000
25073,30805,24412104,Cozy feel at home studio,Kips Bay,40.74408,-73.97803,10.0,45,9.8,10.0,2.88,0.505051,1.980000
24786,30474,24114389,"Very Spacious bedroom, steps from CENTRAL PARK.",Manhattan,40.76844,-73.98333,10.0,2,9.0,10.0,0.13,0.526316,1.900000
26585,32573,26235873,Voted #1 Airbnb In NYC,Queens,40.68939,-73.79886,10.0,23,9.5,9.0,1.71,0.540541,1.850000
26907,32959,26602421,Bogota,Chelsea,40.75274,-73.99647,11.0,4,10.0,10.0,0.31,0.550000,1.818182
18267,22424,18490141,IT'S SIMPLY CONVENIENT!,Jamaica,40.69085,-73.79916,10.0,43,8.7,9.0,1.62,0.564972,1.770000
16765,20636,16620607,Spacious and Modern 2 Bedroom Apartment,Bushwick,40.68994,-73.91556,11.0,117,9.6,9.0,3.87,0.591398,1.690909
36505,45572,35612982,Luggage drop off ONLY! Close to LGA & JFK,Queens,40.73954,-73.92095,12.0,1,10.0,10.0,1.00,0.600000,1.666667
35679,44275,34870577,Happy Home 3,Staten Island,40.63136,-74.12559,13.0,10,9.6,9.0,3.85,0.698925,1.430769
23075,28328,22258432,Awesome designed shared room in beautiful Coli...,Bushwick,40.69329,-73.91328,15.0,3,10.0,10.0,0.16,0.750000,1.333333
26779,32798,26443106,"trip NYC - your Couch - clean, cheap, close to...",Elmhurst,40.73753,-73.87054,15.0,23,8.8,10.0,1.90,0.797872,1.253333
6969,8021,6301965,Beautiful SoHo Loft,Soho,40.72340,-73.99967,16.0,3,10.0,10.0,0.15,0.800000,1.250000
4095,4550,3258197,Large 1br Duplex in Heart of Upper East Side,Upper East Side,40.76866,-73.95553,16.0,22,9.9,10.0,1.65,0.804020,1.243750
7046,8121,6364324,The Oasis.,Harlem,40.82159,-73.95013,16.0,43,9.9,10.0,1.60,0.804020,1.243750
30867,37677,30353302,Room close to La Guardia Airport,Corona,40.76185,-73.87392,16.0,10,9.6,10.0,1.20,0.816327,1.225000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,22004,18094418,4000 SqFt Luxury Penthouse - Downtown NYC,Manhattan,40.72207,-74.00232,2250.0,21,9.9,10.0,0.83,113.065327,0.008844
3642,4036,2659183,"Luxury 5BR Townhouse, Upper East",Manhattan,40.76791,-73.96509,2300.0,33,9.9,10.0,0.54,115.577889,0.008652
22111,27097,21701058,Luxury 8 Bedroom Townhouse in Midtown-Sleeps 16,Hell's Kitchen,40.76481,-73.98845,2200.0,6,9.0,10.0,0.33,115.789474,0.008636
14594,18055,14408114,Unparalleled Luxury in Midtown Manhattan,Manhattan,40.76455,-73.97959,2500.0,4,10.0,10.0,0.13,125.000000,0.008000
35385,43858,34592851,Beautiful Brooklyn Brownstone Production Space,Crown Heights,40.67015,-73.94782,2500.0,1,10.0,10.0,0.50,125.000000,0.008000
25604,31422,25018204,"Paradise Garden, Spa, Steam & Massage Table #1...",Hamilton Heights,40.82263,-73.95181,2500.0,14,9.9,10.0,1.26,125.628141,0.007960
1875,1984,893413,Architecturally Stunning Former Synagogue!,Manhattan,40.72668,-73.98179,2500.0,15,9.7,10.0,0.26,126.903553,0.007880
5737,6491,4777903,SOHO GALLERY,Manhattan,40.71883,-74.00357,2400.0,2,8.0,10.0,0.05,133.333333,0.007500
14830,18323,14730708,Breathtaking City Views 3 Bed Apt. in Lincoln Sq!,Upper West Side,40.77910,-73.98182,3000.0,8,9.5,10.0,0.23,153.846154,0.006500
24580,30239,23860219,Designer's Beautiful 2BR Apartment in NOLITA/SOHO,Manhattan,40.72233,-73.99574,2990.0,73,9.4,10.0,4.35,154.123711,0.006488
13969,17288,13824020,Park Slope Cluehouse,Brooklyn,40.66958,-73.98623,700.0,2,2.0,2.0,0.05,175.000000,0.005714
20739,25440,20692563,Greenwich Village Townhome with Private Garden!,Manhattan,40.73300,-73.99413,3900.0,7,9.7,10.0,0.30,197.969543,0.005051
14032,17371,13882394,VIP Duplex Townhouse with Private Garden!!!,Manhattan,40.73305,-73.99373,3800.0,2,8.0,10.0,0.06,211.111111,0.004737
3859,4281,2952861,Photography Location,Brooklyn,40.69127,-73.96563,4500.0,5,10.0,10.0,0.09,225.000000,0.004444
15409,18987,15392689,"Private, Spacious Bedroom in Harlem, single bed",Harlem,40.80242,-73.94215,5000.0,1,10.0,10.0,0.16,250.000000,0.004000
30437,37136,30035166,4-Floor Unique Event Space 50P Cap. - #10299B,Hamilton Heights,40.82511,-73.94961,5000.0,2,10.0,10.0,0.32,250.000000,0.004000
33966,41857,33397385,Midtown Manhattan great location (Gramacy park),Flatiron District,40.74482,-73.98367,5100.0,2,10.0,10.0,1.30,255.000000,0.003922
3830,4251,2919330,NearWilliamsburg bridge 11211 BK,Bedford-Stuyvesant,40.69572,-73.95731,5000.0,10,9.3,9.0,0.16,273.224044,0.003660
21423,26260,21238053,Broadway 1,Brooklyn,40.68742,-73.91957,5000.0,8,8.3,10.0,0.36,273.224044,0.003660
26038,31930,25538850,Beautiful Classic 7 Residence UES,Harlem,40.78845,-73.95484,1100.0,1,2.0,2.0,0.08,275.000000,0.003636
2481,2641,1448703,Beautiful 1 Bedroom in Nolita/Soho,Manhattan,40.72193,-73.99379,5000.0,2,7.6,9.0,0.03,301.204819,0.003320
3192,3446,2110145,UWS 1BR w/backyard + block from CP,Manhattan,40.77782,-73.97848,6000.0,17,9.3,10.0,0.26,310.880829,0.003217
20676,25364,20654227,Fulton 2,Brooklyn,40.68185,-73.88128,5000.0,4,7.3,7.0,0.17,349.650350,0.002860
35688,44294,34895693,Gem of east Flatbush,Brooklyn,40.65724,-73.92450,7500.0,11,9.8,9.0,4.93,398.936170,0.002507
3860,4282,2953058,Film Location,Clinton Hill,40.69137,-73.96723,8000.0,1,10.0,10.0,0.03,400.000000,0.002500
24141,29695,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,Manhattan,40.72197,-74.00633,8500.0,2,10.0,10.0,0.17,425.000000,0.002353
7734,8987,7003697,Furnished room in Astoria apartment,Astoria,40.76810,-73.91651,10000.0,2,10.0,10.0,0.04,500.000000,0.002000
14052,17398,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,Brooklyn,40.73260,-73.95739,10000.0,5,9.2,9.0,0.16,549.450549,0.001820
5669,6401,4737930,Spanish Harlem Apt,Harlem,40.79264,-73.93898,9999.0,1,10.0,8.0,0.02,555.500000,0.001800
10164,12136,9528920,"Quiet, Clean, Lit @ LES & Chinatown",Manhattan,40.71355,-73.98507,9999.0,6,8.7,9.0,0.13,564.915254,0.001770