In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import ipywidgets as widgets
from matplotlib.cm import viridis
from matplotlib.cm import Spectral
from matplotlib.cm import autumn
from matplotlib.colors import to_hex

import gmaps
import gmaps.geojson_geometries
import gmaps.datasets
import os
import json
import requests
import pprint as pp

import csv

# Import API key
from config import g_key

In [17]:
NYC_df = pd.read_csv('resources/FixedNYClisting.csv')
NYC_df['price'] = NYC_df['price'].map(lambda x: str(x)[1:])
NYC_df['price'] = NYC_df['price'].map(lambda x: x.replace(',', ''))
NYC_df['review_scores_rating'] = NYC_df['review_scores_rating']/10
NYC_df['price'] = NYC_df['price'].astype('float')
NYC_df['Value for Owner'] = NYC_df['price']/ (NYC_df['review_scores_rating']+NYC_df['review_scores_location'])
NYC_df['Value for Customer'] = (NYC_df['review_scores_rating']+NYC_df['review_scores_location'])/NYC_df['price']
NYC_df = NYC_df.dropna()
NYC_df.head()

,Unnamed: 0,id,name,neighbourhood,latitude,longitude,price,number_of_reviews,review_scores_rating,review_scores_location,reviews_per_month,Value for Owner,Value for Customer
0,0,2595,Skylit Midtown Castle,Midtown,40.75362,-73.98377,225.0,46,9.5,10.0,0.39,11.538462,0.086667
1,2,3831,Cozy Entire Floor of Brownstone,Brooklyn,40.68514,-73.95976,89.0,274,9.0,10.0,4.64,4.684211,0.213483
2,3,5022,Entire Apt: Spacious Studio/Loft by central park,East Harlem,40.79851,-73.94399,80.0,9,9.3,9.0,0.10,4.371585,0.228750
3,4,5099,Large Cozy 1 BR Apartment In Midtown East,Midtown East,40.74767,-73.97500,200.0,75,8.9,9.0,0.60,11.173184,0.089500
4,5,5121,BlissArtsSpace!,Brooklyn,40.68688,-73.95596,60.0,49,9.0,9.0,0.39,3.333333,0.300000

In [30]:
# Grab ratings
neighborhood_ratings = NYC_df[['neighbourhood','review_scores_location']]
neighborhood_prices = NYC_df[['neighbourhood','price']]
neighborhood_bookings = NYC_df[['neighbourhood','reviews_per_month']]
neighborhood_ratings.head()

  neighbourhood  review_scores_location
0       Midtown                    10.0
1      Brooklyn                    10.0
2   East Harlem                     9.0
3  Midtown East                     9.0
4      Brooklyn                     9.0

In [8]:
neighborhood_ratings.dropna()
neighborhood_prices.dropna()
NYC_loc_scores_df = neighborhood_ratings.groupby('neighbourhood').mean()
NYC_loc_scores_df.head()
NYC_price_df = neighborhood_prices.groupby('neighbourhood').mean()
NYC_price_df.head()

                    price
neighbourhood
Allerton        67.454545
Alphabet City  156.677130
Annadale       121.000000
Arden Heights   70.000000
Arrochar        99.000000

In [9]:
NYC_loc_scores_df.to_csv(r'resources/nyc_loc_scores.csv')

In [10]:
csv_data = pd.read_csv('resources/nyc_loc_scores.csv')
csv_data.head()

   neighbourhood  review_scores_location
0       Allerton                9.636364
1  Alphabet City                9.695067
2       Annadale               10.000000
3  Arden Heights               10.000000
4       Arrochar                8.000000

In [74]:
# Collect avg neighborhood locations for symbol texts
neighborhood_loc_df = NYC_df[['neighbourhood','latitude','longitude']]
neighborhood_loc_df = neighborhood_loc_df.groupby('neighbourhood').mean()
neighborhood_loc_df = neighborhood_loc_df.reset_index()
neighborhood_loc_df

#collect hover names 
hover_names = list(neighborhood_loc_df['neighbourhood'])
hover_names

latitudes = list(neighborhood_loc_df['latitude'])
longitudes = list(neighborhood_loc_df['longitude'])
hover_locations = []
for i in range(len(latitudes)):
    location = (latitudes[i], longitudes[i])
    hover_locations.append(location)

In [52]:
# Authenticate gmaps
gmaps.configure(api_key=g_key)

nyc_coordinates = [(40.7128, 74.0060)]

# Load in NYC GeoJSON
with open('resources/custom-pedia-cities-nyc-Mar2018.json') as f:
    neighborhoods_geojson = json.load(f)

# Turn Neighborhoods Rating DataFrame into Dictionary
avg_location_dict = NYC_loc_scores_df.to_dict()
neighborhood2gini = avg_location_dict['review_scores_location']
min_gini = min(neighborhood2gini.values())
max_gini = max(neighborhood2gini.values())
gini_range = max_gini - min_gini


def calculate_color(gini):
    """
    Convert the GINI coefficient to a color
    """
    # make gini a number between 0 and 1
    normalized_gini = (gini - min_gini) / gini_range

    # invert gini so that high inequality gives dark color
    inverse_gini = 1.0 - normalized_gini

    # transform the gini coefficient to a matplotlib color
    mpl_color = viridis(inverse_gini)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

# Calculate a color for each GeoJSON feature
colors = []
unique_colors = {}
legend_gini = [10.0, 9.5, 9.0, 8.5, 8.0, 7.5, 0]
legend_entries = []
#add black for null values
legend_entries.append('<span style="color: #000000; font-size: 2em; vertical-align: bottom;">&#9679;</span> 0.0')
# Some CSS hackery to draw a circle of that color next to the year
legend_template = '<span style="color: {color}; font-size: 2em; vertical-align: bottom;">&#9679;</span> {value}'

for feature in neighborhoods_geojson['features']:
    neighborhood_name = feature['properties']['neighborhood']
    try:
        gini = neighborhood2gini[neighborhood_name]
        color = calculate_color(gini)
        if gini in legend_gini:
            if color not in unique_colors.keys():
                unique_colors[color] = gini
                legend_entries.append(legend_template.format(color=color, value=gini))
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.9)
    colors.append(color)


# fix null value            
unique_colors[(0, 0, 0, 0.9)] = 0


def draw_map_with_legend():
    figure = gmaps.figure(center=(40.7, -74.0), zoom_level = 9.6)
    
    gini_layer = gmaps.geojson_layer(
    neighborhoods_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.9)
    
    
#     gmaps.symbol_layer(
#     hover_locations, 
#     hover_text=hover_names, 
#     fill_color=None, 
#     fill_opacity=1.0,
#     stroke_color=None, 
#     stroke_opacity=1.0, 
#     scale=3, 
#     info_box_content=None, 
#     display_info_box=None)
    
    
    figure.add_layer(gini_layer)
    legend = widgets.HBox(
        [widgets.HTML(legend_entry) for legend_entry in legend_entries],
        layout=widgets.Layout(width='100%', justify_content='space-between')
    )
    return widgets.VBox([figure, legend])

draw_map_with_legend()

VBox(children=(Figure(layout=FigureLayout(height='420px')), HBox(children=(HTML(value='<span style="color: #00…

In [12]:
# Authenticate gmaps
gmaps.configure(api_key=g_key)

nyc_coordinates = [(40.7128, 74.0060)]

# Load in NYC GeoJSON
with open('resources/custom-pedia-cities-nyc-Mar2018.json') as f:
    neighborhoods_geojson = json.load(f)

# Turn Neighborhoods Rating DataFrame into Dictionary
price_dict = NYC_price_df.to_dict()
neighborhood2gini = price_dict['price']
min_gini = min(neighborhood2gini.values())
max_gini = max(neighborhood2gini.values())
gini_range = max_gini - min_gini

def calculate_color(gini):
    """
    Convert the GINI coefficient to a color
    """
    # make gini a number between 0 and 1
    normalized_gini = (gini - min_gini) / gini_range

    # invert gini so that high inequality gives dark color
    inverse_gini = 1.0 - normalized_gini

    # transform the gini coefficient to a matplotlib color
    mpl_color = autumn(inverse_gini)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

# Calculate a color for each GeoJSON feature
colors = []
unique_colors = {}

legend_gini = [10.0, 9.5, 9.0, 8.5, 8.0, 7.5, 0]
legend_entries = []
#add black for null values
legend_entries.append('<span style="color: #ffffff; font-size: 2em; vertical-align: bottom;">&#9679;</span> 0.0')
# Some CSS hackery to draw a circle of that color next to the year
legend_template = '<span style="color: {color}; font-size: 2em; vertical-align: bottom;">&#9679;</span> {value}'

for feature in neighborhoods_geojson['features']:
    neighborhood_name = feature['properties']['neighborhood']
    try:
        gini = neighborhood2gini[neighborhood_name]
        color = calculate_color(gini)
        if gini in legend_gini:
            if color not in unique_colors.keys():
                unique_colors[color] = gini
                legend_entries.append(legend_template.format(color=color, value=gini))
    except KeyError:
        # no GINI for that country: return default color
        color = (255, 255, 255, 0.5)
    colors.append(color)


# fix null value            
unique_colors[(255, 255, 255, 0.9)] = 0


def draw_map_with_legend():
    figure = gmaps.figure(center=(40.7, -74.0), zoom_level = 9.6)
    
    gini_layer = gmaps.geojson_layer(
    neighborhoods_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.9)
    figure.add_layer(gini_layer)
    
    legend = widgets.HBox(
        [widgets.HTML(legend_entry) for legend_entry in legend_entries],
        layout=widgets.Layout(width='100%', justify_content='space-between')
    )
    return widgets.VBox([figure, legend])

draw_map_with_legend()

VBox(children=(Figure(layout=FigureLayout(height='420px')), HBox(children=(HTML(value='<span style="color: #ff…

In [13]:
neighborhood_price_dict = price_dict['price']

neighborhood_price_dict

{'Allerton': 67.45454545454545,
 'Alphabet City': 156.67713004484304,
 'Annadale': 121.0,
 'Arden Heights': 70.0,
 'Arrochar': 99.0,
 'Astoria': 117.38077634011091,
 'Bath Beach': 105.0,
 'Battery Park City': 147.7,
 'Bay Ridge': 111.63917525773196,
 'Baychester': 81.03703703703704,
 'Bayside': 84.8,
 'Bedford Park': 84.36363636363636,
 'Bedford-Stuyvesant': 108.3103448275862,
 'Belmont': 52.0,
 'Bensonhurst': 73.4,
 'Bergen Beach': 85.0,
 'Boerum Hill': 172.289156626506,
 'Borough Park': 63.6875,
 'Brighton Beach': 93.95652173913044,
 'Bronxdale': 54.714285714285715,
 'Brooklyn': 122.61401439188393,
 'Brooklyn Heights': 231.41176470588235,
 'Brooklyn Navy Yard': 125.34615384615384,
 'Brownsville': 66.0,
 'Bushwick': 84.91592356687899,
 'Canarsie': 100.2,
 'Carroll Gardens': 168.9857142857143,
 'Castle Hill ': 86.75,
 'Castleton Corners': 299.0,
 'Chelsea': 207.61964735516372,
 'Chinatown': 171.76377952755905,
 'City Island': 97.23076923076923,
 'Civic Center': 130.5,
 'Claremont': 48.6,
 'Clinton Hill': 164.2517006802721,
 'Cobble Hill': 243.1904761904762,
 'College Point': 91.16666666666667,
 'Columbia Street Waterfront': 121.375,
 'Concord': 33.0,
 'Concourse': 66.28,
 'Concourse Village': 102.25,
 'Coney Island': 101.5,
 'Corona': 65.82051282051282,
 'Country Club': 89.0,
 'Crotona': 83.0,
 'Crown Heights': 120.62683823529412,
 'DUMBO': 175.4375,
 'Ditmars / Steinway': 90.0754716981132,
 'Dongan Hills': 78.2,
 'Downtown Brooklyn': 112.90322580645162,
 'Dyker Heights': 119.75,
 'East Elmhurst': 83.22857142857143,
 'East Flatbush': 96.52631578947368,
 'East Harlem': 122.12861736334405,
 'East New York': 87.24050632911393,
 'East Village': 182.26739926739927,
 'Eastchester': 133.5,
 'Edenwald': 89.0,
 'Elm Park': 48.333333333333336,
 'Elmhurst': 81.65753424657534,
 'Eltingville': 56.0,
 'Financial District': 246.2756183745583,
 'Flatbush': 90.82579185520362,
 'Flatiron District': 336.6951219512195,
 'Flatlands': 97.38461538461539,
 'Flushing': 82.15294117647059,
 'Fordham': 52.142857142857146,
 'Forest Hills': 88.52631578947368,
 'Fort Greene': 155.85393258426967,
 'Fort Hamilton': 89.0,
 'Fresh Meadows': 86.1,
 'Glendale': 70.625,
 'Gowanus': 168.87058823529412,
 'Gramercy Park': 210.57894736842104,
 'Graniteville': 45.5,
 'Grant City': 69.25,
 'Grasmere': 47.36363636363637,
 'Gravesend': 83.875,
 'Great Kills': 97.85714285714286,
 'Greenpoint': 131.12275449101796,
 'Greenwich Village': 186.35238095238094,
 'Greenwood Heights': 130.23809523809524,
 'Grymes Hill': 87.0,
 'Hamilton Heights': 125.22362869198312,
 'Harlem': 128.73268801191364,
 "Hell's Kitchen": 188.4728132387707,
 'Highbridge': 78.45,
 'Hillcrest': 165.0,
 'Howard Beach': 161.25,
 'Hudson Square': 179.45454545454547,
 'Huguenot': 185.0,
 'Hunts Point': 50.111111111111114,
 'Inwood': 84.71666666666667,
 'Jackson Heights': 84.95192307692308,
 'Jamaica': 92.00348432055749,
 'Kensington': 86.6,
 'Kew Garden Hills': 72.3157894736842,
 'Kingsbridge': 57.142857142857146,
 'Kingsbridge Heights': 69.8,
 'Kips Bay': 188.59649122807016,
 'Lefferts Garden': 112.43846153846154,
 'Lighthouse HIll': 115.0,
 'Lindenwood': 138.5,
 'Little Italy': 190.5,
 'Long Island City': 124.725,
 'Longwood': 70.0,
 'Lower East Side': 167.18510638297872,
 'Manhattan': 181.33947368421053,
 'Manhattan Beach': 101.81818181818181,
 'Marble Hill': 103.66666666666667,
 'Mariners Harbor': 109.66666666666667,
 'Maspeth': 74.675,
 'Meatpacking District': 172.66666666666666,
 'Meiers Corners': 174.0,
 'Melrose': 81.5,
 'Middle Village': 87.5,
 'Midland Beach': 90.0,
 'Midtown': 215.00531914893617,
 'Midtown East': 234.13229571984436,
 'Midwood': 78.5952380952381,
 'Mill Basin': 85.0,
 'Morningside Heights': 125.3013698630137,
 'Morris Heights': 60.0,
 'Morris Park': 61.0,
 'Morrisania': 83.8,
 'Mott Haven': 84.55882352941177,
 'Murray Hill': 213.21428571428572,
 'New Brighton': 49.5,
 'New Dorp Beach': 40.5,
 'New Springville': 58.0,
 'Noho': 316.2142857142857,
 'Nolita': 191.95833333333334,
 'Norwood': 68.55555555555556,
 'Oakwood': 82.5,
 'Ozone Park': 84.7,
 'Park Slope': 158.3698113207547,
 'Park Versailles': 57.714285714285715,
 'Parkchester': 71.06666666666666,
 'Pelham Bay': 52.857142857142854,
 'Port Morris': 84.10526315789474,
 'Port Richmond': 86.85714285714286,
 'Prospect Heights': 162.46153846153845,
 'Queens': 91.50265721877768,
 'Randall Manor': 55.0,
 'Red Hook': 149.66666666666666,
 'Rego Park': 92.25,
 'Richmond Hill': 88.7843137254902,
 'Ridgewood': 78.3529411764706,
 'Riverdale': 114.77777777777777,
 'Roosevelt Island': 118.59016393442623,
 'Rosebank': 110.0,
 'Sea Gate': 215.0,
 'Sheepshead Bay': 90.37704918032787,
 'Silver Lake': 80.0,
 'Soho': 253.3734939759036,
 'Soundview': 65.27272727272727,
 'South Beach': 193.125,
 'South Ozone Park': 94.375,
 'South Street Seaport': 105.0,
 'St. George': 96.1304347826087,
 'Stapleton': 83.375,
 'Staten Island': 89.66666666666667,
 'Sunnyside': 85.39285714285714,
 'Sunset Park': 72.88073394495413,
 'The Bronx': 82.89224137931035,
 'The Rockaways': 138.41052631578947,
 'Throgs Neck': 107.72727272727273,
 'Times Square/Theatre District': 201.8421052631579,
 'Todt Hill': 49.0,
 'Tompkinsville': 71.42857142857143,
 'Tottenville': 148.0,
 'Tremont': 81.77777777777777,
 'Tribeca': 328.86842105263156,
 'Union Square': 191.5,
 'University Heights': 43.166666666666664,
 'Upper East Side': 160.63577235772357,
 'Upper West Side': 183.78503184713375,
 'Utopia': 69.66666666666667,
 'Van Nest': 26.666666666666668,
 'Wakefield': 109.78571428571429,
 'Washington Heights': 90.87724550898204,
 'West Brighton': 71.21428571428571,
 'West Farms': 79.0,
 'West Village': 236.61654135338347,
 'Westchester Village': 135.44444444444446,
 'Westerleigh': 40.0,
 'Whitestone': 233.4,
 'Williamsbridge': 67.7,
 'Williamsburg': 140.81565836298932,
 'Windsor Terrace': 117.30952380952381,
 'Woodhaven': 67.06521739130434,
 'Woodlawn': 74.0,
 'Woodside': 92.58181818181818}

In [14]:
sorted(neighborhood_price_dict.items(), key=lambda x: x[1], reverse=True)

[('Flatiron District', 336.6951219512195),
 ('Tribeca', 328.86842105263156),
 ('Noho', 316.2142857142857),
 ('Castleton Corners', 299.0),
 ('Soho', 253.3734939759036),
 ('Financial District', 246.2756183745583),
 ('Cobble Hill', 243.1904761904762),
 ('West Village', 236.61654135338347),
 ('Midtown East', 234.13229571984436),
 ('Whitestone', 233.4),
 ('Brooklyn Heights', 231.41176470588235),
 ('Midtown', 215.00531914893617),
 ('Sea Gate', 215.0),
 ('Murray Hill', 213.21428571428572),
 ('Gramercy Park', 210.57894736842104),
 ('Chelsea', 207.61964735516372),
 ('Times Square/Theatre District', 201.8421052631579),
 ('South Beach', 193.125),
 ('Nolita', 191.95833333333334),
 ('Union Square', 191.5),
 ('Little Italy', 190.5),
 ('Kips Bay', 188.59649122807016),
 ("Hell's Kitchen", 188.4728132387707),
 ('Greenwich Village', 186.35238095238094),
 ('Huguenot', 185.0),
 ('Upper West Side', 183.78503184713375),
 ('East Village', 182.26739926739927),
 ('Manhattan', 181.33947368421053),
 ('Hudson Square', 179.45454545454547),
 ('DUMBO', 175.4375),
 ('Meiers Corners', 174.0),
 ('Meatpacking District', 172.66666666666666),
 ('Boerum Hill', 172.289156626506),
 ('Chinatown', 171.76377952755905),
 ('Carroll Gardens', 168.9857142857143),
 ('Gowanus', 168.87058823529412),
 ('Lower East Side', 167.18510638297872),
 ('Hillcrest', 165.0),
 ('Clinton Hill', 164.2517006802721),
 ('Prospect Heights', 162.46153846153845),
 ('Howard Beach', 161.25),
 ('Upper East Side', 160.63577235772357),
 ('Park Slope', 158.3698113207547),
 ('Alphabet City', 156.67713004484304),
 ('Fort Greene', 155.85393258426967),
 ('Red Hook', 149.66666666666666),
 ('Tottenville', 148.0),
 ('Battery Park City', 147.7),
 ('Williamsburg', 140.81565836298932),
 ('Lindenwood', 138.5),
 ('The Rockaways', 138.41052631578947),
 ('Westchester Village', 135.44444444444446),
 ('Eastchester', 133.5),
 ('Greenpoint', 131.12275449101796),
 ('Civic Center', 130.5),
 ('Greenwood Heights', 130.23809523809524),
 ('Harlem', 128.73268801191364),
 ('Brooklyn Navy Yard', 125.34615384615384),
 ('Morningside Heights', 125.3013698630137),
 ('Hamilton Heights', 125.22362869198312),
 ('Long Island City', 124.725),
 ('Brooklyn', 122.61401439188393),
 ('East Harlem', 122.12861736334405),
 ('Columbia Street Waterfront', 121.375),
 ('Annadale', 121.0),
 ('Crown Heights', 120.62683823529412),
 ('Dyker Heights', 119.75),
 ('Roosevelt Island', 118.59016393442623),
 ('Astoria', 117.38077634011091),
 ('Windsor Terrace', 117.30952380952381),
 ('Lighthouse HIll', 115.0),
 ('Riverdale', 114.77777777777777),
 ('Downtown Brooklyn', 112.90322580645162),
 ('Lefferts Garden', 112.43846153846154),
 ('Bay Ridge', 111.63917525773196),
 ('Rosebank', 110.0),
 ('Wakefield', 109.78571428571429),
 ('Mariners Harbor', 109.66666666666667),
 ('Bedford-Stuyvesant', 108.3103448275862),
 ('Throgs Neck', 107.72727272727273),
 ('Bath Beach', 105.0),
 ('South Street Seaport', 105.0),
 ('Marble Hill', 103.66666666666667),
 ('Concourse Village', 102.25),
 ('Manhattan Beach', 101.81818181818181),
 ('Coney Island', 101.5),
 ('Canarsie', 100.2),
 ('Arrochar', 99.0),
 ('Great Kills', 97.85714285714286),
 ('Flatlands', 97.38461538461539),
 ('City Island', 97.23076923076923),
 ('East Flatbush', 96.52631578947368),
 ('St. George', 96.1304347826087),
 ('South Ozone Park', 94.375),
 ('Brighton Beach', 93.95652173913044),
 ('Woodside', 92.58181818181818),
 ('Rego Park', 92.25),
 ('Jamaica', 92.00348432055749),
 ('Queens', 91.50265721877768),
 ('College Point', 91.16666666666667),
 ('Washington Heights', 90.87724550898204),
 ('Flatbush', 90.82579185520362),
 ('Sheepshead Bay', 90.37704918032787),
 ('Ditmars / Steinway', 90.0754716981132),
 ('Midland Beach', 90.0),
 ('Staten Island', 89.66666666666667),
 ('Country Club', 89.0),
 ('Edenwald', 89.0),
 ('Fort Hamilton', 89.0),
 ('Richmond Hill', 88.7843137254902),
 ('Forest Hills', 88.52631578947368),
 ('Middle Village', 87.5),
 ('East New York', 87.24050632911393),
 ('Grymes Hill', 87.0),
 ('Port Richmond', 86.85714285714286),
 ('Castle Hill ', 86.75),
 ('Kensington', 86.6),
 ('Fresh Meadows', 86.1),
 ('Sunnyside', 85.39285714285714),
 ('Bergen Beach', 85.0),
 ('Mill Basin', 85.0),
 ('Jackson Heights', 84.95192307692308),
 ('Bushwick', 84.91592356687899),
 ('Bayside', 84.8),
 ('Inwood', 84.71666666666667),
 ('Ozone Park', 84.7),
 ('Mott Haven', 84.55882352941177),
 ('Bedford Park', 84.36363636363636),
 ('Port Morris', 84.10526315789474),
 ('Gravesend', 83.875),
 ('Morrisania', 83.8),
 ('Stapleton', 83.375),
 ('East Elmhurst', 83.22857142857143),
 ('Crotona', 83.0),
 ('The Bronx', 82.89224137931035),
 ('Oakwood', 82.5),
 ('Flushing', 82.15294117647059),
 ('Tremont', 81.77777777777777),
 ('Elmhurst', 81.65753424657534),
 ('Melrose', 81.5),
 ('Baychester', 81.03703703703704),
 ('Silver Lake', 80.0),
 ('West Farms', 79.0),
 ('Midwood', 78.5952380952381),
 ('Highbridge', 78.45),
 ('Ridgewood', 78.3529411764706),
 ('Dongan Hills', 78.2),
 ('Maspeth', 74.675),
 ('Woodlawn', 74.0),
 ('Bensonhurst', 73.4),
 ('Sunset Park', 72.88073394495413),
 ('Kew Garden Hills', 72.3157894736842),
 ('Tompkinsville', 71.42857142857143),
 ('West Brighton', 71.21428571428571),
 ('Parkchester', 71.06666666666666),
 ('Glendale', 70.625),
 ('Arden Heights', 70.0),
 ('Longwood', 70.0),
 ('Kingsbridge Heights', 69.8),
 ('Utopia', 69.66666666666667),
 ('Grant City', 69.25),
 ('Norwood', 68.55555555555556),
 ('Williamsbridge', 67.7),
 ('Allerton', 67.45454545454545),
 ('Woodhaven', 67.06521739130434),
 ('Concourse', 66.28),
 ('Brownsville', 66.0),
 ('Corona', 65.82051282051282),
 ('Soundview', 65.27272727272727),
 ('Borough Park', 63.6875),
 ('Morris Park', 61.0),
 ('Morris Heights', 60.0),
 ('New Springville', 58.0),
 ('Park Versailles', 57.714285714285715),
 ('Kingsbridge', 57.142857142857146),
 ('Eltingville', 56.0),
 ('Randall Manor', 55.0),
 ('Bronxdale', 54.714285714285715),
 ('Pelham Bay', 52.857142857142854),
 ('Fordham', 52.142857142857146),
 ('Belmont', 52.0),
 ('Hunts Point', 50.111111111111114),
 ('New Brighton', 49.5),
 ('Todt Hill', 49.0),
 ('Claremont', 48.6),
 ('Elm Park', 48.333333333333336),
 ('Grasmere', 47.36363636363637),
 ('Graniteville', 45.5),
 ('University Heights', 43.166666666666664),
 ('New Dorp Beach', 40.5),
 ('Westerleigh', 40.0),
 ('Concord', 33.0),
 ('Van Nest', 26.666666666666668)]

In [47]:
import geopandas as gpd
shapefile = 'resources/custom-pedia-cities-nyc-Mar2018.json'
#Read shapefile using Geopandas
gdf = gpd.read_file(shapefile)[['neighborhood','borough','geometry']]
#Rename columns.
gdf.columns = ['neighborhood','city','geometry']
gdf.head()

,neighborhood,city,geometry
0,Allerton,Bronx,POLYGON ((-73.84859700000018 40.87167000000012...
1,Alley Pond Park,Queens,"POLYGON ((-73.74333268196389 40.7388830992604,..."
2,Arden Heights,Staten Island,"POLYGON ((-74.169827 40.56107800000017, -74.16..."
3,Arlington,Staten Island,POLYGON ((-74.15974815874296 40.64141652579018...
4,Arrochar,Staten Island,POLYGON ((-74.06077989345394 40.59318800468343...